@import 'tailwindcss';

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/pretendard/PretendardVariable.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'KoPub Batang';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/koPubBatang/KoPub Batang_Pro Light.otf') format('opentype');
}

@font-face {
  font-family: 'KoPub Batang';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/koPubBatang/KoPub Batang_Pro Medium.otf') format('opentype');
}

@font-face {
  font-family: 'KoPub Batang';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/koPubBatang/KoPub Batang_Pro Bold.otf') format('opentype');
}

@theme {
    --font-sans: "Pretendard Variable", "Pretendard", system-ui, sans-serif;
    --font-batang: "KoPub Batang", system-ui, sans-serif;
    
    --color-primary: #454647;

    --color-wood-10: #FDF8F6;
    --color-wood-20: #F2E8E5;
    --color-wood-30: #8D7A71;
    
    --color-gold: #B88F4E;
}

@layer base {
    body {
        @apply font-sans text-primary bg-wood-10        
    }
}